## Importing the libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Import all the necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Reading Dataset-1

In [3]:
# Reading data from file
inp0 = pd.read_csv(r"C:\Users\saval\Downloads\application_data.csv")
inp0.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\saval\\Downloads\\application_data.csv'

#### checking size of the data

In [ ]:
inp0.shape

## Data Cleaning

In [ ]:
inp0.columns

In [ ]:
# Describing the data
inp0.describe()

#### Insight:
- From the above reading certain details can be identified such as data contains 307511 rows and 122 columns.
- There are certain null values and negative values.
- Data cleaning is needed and standardisation of values also needed.

#### Identify the null values

In [ ]:
# find null values
null_values=inp0.isnull().sum()
null_values

#### Handling missing values

In [ ]:
null_values = round(inp0.isnull().sum()*100/len(inp0),2)

In [ ]:
# identify data with more than 50% missing values
null_values_50 = null_values[null_values>50]
null_values_50

In [ ]:
#Total number of columns with more than 50% missing values
len(null_values_50)

In [ ]:
# Remove these 41 columns
null_values_50.index

In [ ]:

inp0.drop(columns=null_values_50.index, inplace=True)
inp0.shape

In [ ]:
null_values = round(inp0.isnull().sum()*100/len(inp0),2)
null_values

In [ ]:
#Droping columns comprising more than 20% null values other than Occupation_Type
null_values_20=null_values[null_values>20]
null_values_20

In [ ]:
# Droping occupation type from null value data
null_values_20.drop(["OCCUPATION_TYPE"],inplace = True)
null_values_20

In [ ]:
inp0.drop(columns=null_values_20.index,inplace=True)
inp0.shape

In [ ]:
inp0.isnull().sum().sum()

In [ ]:
null_values = round(inp0.isnull().sum()*100/len(inp0),2)
null_values.head()

In [ ]:
inp0.shape

In [ ]:
#Identify unnecessory columns and drom them
inp0.head(10)
unnec_col=["FLAG_DOCUMENT_2","FLAG_DOCUMENT_3","FLAG_DOCUMENT_4","FLAG_DOCUMENT_5","FLAG_DOCUMENT_6","FLAG_DOCUMENT_7","FLAG_DOCUMENT_8","FLAG_DOCUMENT_9","FLAG_DOCUMENT_10","FLAG_DOCUMENT_11","FLAG_DOCUMENT_12","FLAG_DOCUMENT_13","FLAG_DOCUMENT_14","FLAG_DOCUMENT_15","FLAG_DOCUMENT_16","FLAG_DOCUMENT_17","FLAG_DOCUMENT_18","FLAG_DOCUMENT_19","FLAG_DOCUMENT_20","FLAG_DOCUMENT_21"]
inp0.drop(labels=unnec_col, axis=1,inplace=True)
inp0.head()

In [ ]:
inp0.shape

In [ ]:
inp0.isnull().sum().sum()
inp0.head()

#### Inputing values

In [ ]:
#Treating columns that are in numeric value
# Treating important columns
inp0.AMT_ANNUITY.isnull().sum()

In [ ]:
#Replace with mean of particular column
amt_annuity_mean=inp0.AMT_ANNUITY.mean()
amt_annuity_mean

In [ ]:
inp0.AMT_ANNUITY.fillna(amt_annuity_mean,inplace= True)
inp0.AMT_ANNUITY.value_counts(normalize=True)

In [ ]:
#cross check for null values
inp0.AMT_ANNUITY.isnull().sum()

In [ ]:
#Occupation Type that is categorical variable 
inp0.OCCUPATION_TYPE.describe()

In [ ]:
# Make another column which are having null values in occupation Type.
inp0["OCCUPATION_TYPE"]=inp0["OCCUPATION_TYPE"].fillna("Unidentified")
#cross check for null values in OCCUPATION_TYPE
inp0["OCCUPATION_TYPE"].isnull().sum()

In [ ]:
#Recheck columns
inp0.columns

In [ ]:
# Add null values for another columns
inp0.isnull().sum()

In [ ]:
# Now first fill null values for EXT_SOURCE_3 
inp0[["EXT_SOURCE_2","EXT_SOURCE_3","AMT_REQ_CREDIT_BUREAU_HOUR","AMT_REQ_CREDIT_BUREAU_DAY","AMT_REQ_CREDIT_BUREAU_WEEK","AMT_REQ_CREDIT_BUREAU_MON","AMT_REQ_CREDIT_BUREAU_QRT","AMT_REQ_CREDIT_BUREAU_YEAR"]].describe()

In [ ]:
# To make it easy create variable ext3_amt_credit
ext_amt_credit=["EXT_SOURCE_2","EXT_SOURCE_3","AMT_REQ_CREDIT_BUREAU_HOUR","AMT_REQ_CREDIT_BUREAU_DAY","AMT_REQ_CREDIT_BUREAU_WEEK","AMT_REQ_CREDIT_BUREAU_MON","AMT_REQ_CREDIT_BUREAU_QRT","AMT_REQ_CREDIT_BUREAU_YEAR"]

In [ ]:
# fill null values by median values
inp0.fillna(inp0[ext_amt_credit].median(),inplace=True)            
inp0.isnull().sum()

In [ ]:
inp0.head()

In [ ]:
#Treatment of Name type suite
inp0.NAME_TYPE_SUITE.describe()

In [ ]:
#Unique value is 7 and top value is unaccompanied so replace null values with it
inp0["NAME_TYPE_SUITE"]=inp0["NAME_TYPE_SUITE"].fillna("Unaccompanied")
#cross check for null values in OCCUPATION_TYPE
inp0["NAME_TYPE_SUITE"].isnull().sum()

In [ ]:
#Treatment of Obs and def columns
inp0[["OBS_30_CNT_SOCIAL_CIRCLE","DEF_30_CNT_SOCIAL_CIRCLE","OBS_60_CNT_SOCIAL_CIRCLE","DEF_60_CNT_SOCIAL_CIRCLE"]].describe()

In [ ]:
#create variable
obs_def=["OBS_30_CNT_SOCIAL_CIRCLE","DEF_30_CNT_SOCIAL_CIRCLE","OBS_60_CNT_SOCIAL_CIRCLE","DEF_60_CNT_SOCIAL_CIRCLE"]

In [ ]:
#replace with mean
inp0.fillna(inp0[obs_def].median(),inplace=True)            
inp0.isnull().sum()

In [ ]:
#check remaining columns to check standardisation 
column_days = ["DAYS_BIRTH","DAYS_EMPLOYED","DAYS_REGISTRATION","DAYS_ID_PUBLISH","DAYS_LAST_PHONE_CHANGE"]
inp0[column_days].describe()

In [ ]:
#correcting negative values
inp0[column_days]=abs(inp0[column_days])
inp0[column_days].describe()

In [ ]:
# Convert columns-DAYS_BIRTH ad DAYS_EMPLOYED to YEARS
inp0["AGE"]= inp0["DAYS_BIRTH"]/365
bins=[0,20,30,40,50,60,100]
bin_category=["0-20","20-30","30-40","40-50","50-60","60 Above"]
inp0["AGE_RANGE"]=pd.cut(inp0["AGE"],bins=bins,labels=bin_category)

In [ ]:
inp0["AGE_RANGE"].value_counts(normalize=True)*100

In [ ]:
inp0["EMPLOYMENT_YEARS"]= inp0["DAYS_EMPLOYED"]/365
bins=[0,5,10,15,20,25,30,35,40,45,50]
bin_category=["0-5","5-10","10-15","15-20","20-25","25-30","30-35","35-40","40-45","45 Above"]
inp0["EMPLOYMENT_YEARS_RANGE"]=pd.cut(inp0["EMPLOYMENT_YEARS"],bins=bins,labels=bin_category)

In [ ]:
inp0["EMPLOYMENT_YEARS_RANGE"].value_counts(normalize=True)*100

### Outlier handling

In [ ]:
inp0.describe()

#### With the help of description we can identify columns that contain outliers as it will provide a difference between max and different percentile.

In [ ]:
#important columns with outliers(variables)
plt.figure(figsize=(11,3))
sns.boxplot(inp0.CNT_CHILDREN)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp0.AMT_INCOME_TOTAL)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp0.AMT_CREDIT)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp0.AMT_ANNUITY)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp0.AMT_GOODS_PRICE)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp0.DAYS_BIRTH)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp0.DAYS_EMPLOYED)
plt.show()

#### Insight:
 
 From application data we can say that
 - There are certain outliers available in CNT_CHILDREN,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE.
 - DAYS_BIRTH column is reliable because there are no outliers in it.
 - AMT_INCOME_TOTAL has many outliers; it means there is a very big difference of income amongst the loan applicants.
 - DAYS_EMPLOYED shows incorrect entry as days employed can not be 350000.

In [ ]:
#Handle outliers by using bin
inp0.AMT_INCOME_TOTAL.describe()

In [ ]:
#create bins for AMT_INCOME_TOTAL

bins=[0,150000,300000,450000,600000,750000]
binned_category=["Very Low","Low","Medium","High","Very High"]
inp0["AMT_INCOME_RANGE"]=pd.cut(inp0["AMT_INCOME_TOTAL"],bins=bins,labels=binned_category)

In [ ]:
inp0.AMT_CREDIT.describe()

In [ ]:
#create bins for AMT_CREDIT
bins=[0,200000,400000,600000,800000,1000000]
binned_category=["Very Low","Low","Medium","High","Very High"]
inp0["AMT_CREDIT_RANGE"]=pd.cut(inp0["AMT_CREDIT"],bins=bins,labels=binned_category)
inp0

In [ ]:
#identify unique entries
inp0.nunique().sort_values(ascending=False)

In [ ]:
inp0.info()

In [ ]:
#Convert important columns to cateorial column
inp0.columns

In [ ]:
converted_columns = ["NAME_CONTRACT_TYPE","CODE_GENDER","FLAG_OWN_REALTY","NAME_TYPE_SUITE","NAME_INCOME_TYPE","NAME_EDUCATION_TYPE",
                       "NAME_FAMILY_STATUS","NAME_HOUSING_TYPE","OCCUPATION_TYPE","WEEKDAY_APPR_PROCESS_START",
                       "ORGANIZATION_TYPE","REG_REGION_NOT_WORK_REGION","LIVE_REGION_NOT_WORK_REGION"]

for column in converted_columns:
    inp0[column] = pd.Categorical(inp0[column])

In [ ]:
inp0.info()

In [ ]:
inp0.shape

## Dataset2-previous_application

#### Read the dataset

In [ ]:
inp1 = pd.read_csv(r"C:\Users\saval\Desktop\previous_application.csv")
inp1.head()

#### checking size of the data

In [ ]:
inp1.shape

In [ ]:
inp1.columns

In [ ]:
#Describing the data
inp1.describe()

In [ ]:
#Describing the data
inp1.describe()

#### Insight:
- From the above reading we can get certain details such as we have 1670214 rows and 30 columns.
- There are certain null values and negative values.
- Data cleaning is needed and standardisation of values also needed.

## Data Cleaning

In [ ]:
# find null values
null_values=inp1.isnull().sum()
null_values

#### Handling missing values

In [ ]:
null_values1 = round(inp1.isnull().sum()*100/len(inp1),2)

In [ ]:
# identify data with more than 50% missing values
null_values1_50 = null_values1[null_values1>50]
null_values1_50

In [ ]:
#Total number of columns with more than 50% missing values
len(null_values1_50)

In [ ]:
# Removing these 4 columns
null_values1_50.index

In [ ]:
inp1.drop(columns=null_values1_50.index, inplace=True)
inp1.shape

In [ ]:
null_values1 = round(inp1.isnull().sum()*100/len(inp1),2)
null_values1

In [ ]:
#Droping columns comprising more than 20% null values other than Occupation_Type
null_values1_20=null_values1[null_values1>20]
null_values1_20

In [ ]:
inp1[null_values1_20.index]

In [ ]:
# Droping down unnecessary columns
inp1.head(10)
unnec_col1=["WEEKDAY_APPR_PROCESS_START","HOUR_APPR_PROCESS_START",
       "FLAG_LAST_APPL_PER_CONTRACT","NFLAG_LAST_APPL_IN_DAY"]
inp1.drop(labels=unnec_col1, axis=1,inplace=True)
inp1.head()

In [ ]:
inp1.shape

In [ ]:
# Treatment of imp columns
#Treating null values in the column AMT_ANNUITY

inp1.AMT_ANNUITY.isnull().sum()

In [ ]:
#Here the data of this column is skewed that is the reason null values are replaced with the median.
amt_annuity_median=inp1.AMT_ANNUITY.median()
amt_annuity_median

In [ ]:
# Replacing null values with median 
inp1.AMT_ANNUITY.fillna(amt_annuity_median,inplace= True)
inp1.AMT_ANNUITY.value_counts(normalize=True)

In [ ]:
# Rechecking null values in column AMT_ANNUITY
inp1.AMT_ANNUITY.isnull().sum()

In [ ]:
inp1.isnull().sum()

In [ ]:
inp1.info()

In [ ]:
#Treating null values in the column AMT_GOODS_PRICE
inp1.AMT_GOODS_PRICE.isnull().sum()

In [ ]:
#Here the data of this column is skewed that is the reason null values are replaced with the median.
amt_goods_price_median=inp1.AMT_ANNUITY.median()
amt_goods_price_median

In [ ]:
# Replacing null values with median 
inp1.AMT_GOODS_PRICE.fillna(amt_goods_price_median,inplace= True)
inp1.AMT_GOODS_PRICE.value_counts(normalize=True)

In [ ]:
#Rechecking null values in column AMT_GOODS_PRICE
inp1.AMT_GOODS_PRICE.isnull().sum()

In [ ]:
inp1.info()

In [ ]:
#Treating null values in the column CNT_PAYMENT

inp1.CNT_PAYMENT.isnull().sum()

In [ ]:
#Here the data of this column is skewed that is the reason null values are replaced with the median.
cnt_payment_median=inp1.CNT_PAYMENT.median()
cnt_payment_median

In [ ]:
# Replacing null values with median 
inp1.CNT_PAYMENT.fillna(cnt_payment_median,inplace= True)
inp1.CNT_PAYMENT.value_counts(normalize=True)

In [ ]:
inp1.CNT_PAYMENT.isnull().sum()

In [ ]:
inp1.head()

In [ ]:
#Treating null values of column NAME_TYPE_SUITE
inp1.NAME_TYPE_SUITE.describe()

In [ ]:
#Unique value is 7 and top value is Unaccompanied so replace null values with it
inp1["NAME_TYPE_SUITE"]=inp1["NAME_TYPE_SUITE"].fillna("Unaccompanied")
#cross check for null values in OCCUPATION_TYPE
inp1["NAME_TYPE_SUITE"].isnull().sum()

In [ ]:
inp1.isnull().sum()

In [ ]:
#check remaining columns to check standardisation 
column_days1 = ["DAYS_FIRST_DRAWING","DAYS_FIRST_DUE","DAYS_LAST_DUE_1ST_VERSION","DAYS_LAST_DUE","DAYS_TERMINATION"]
inp1[column_days1].describe()

In [ ]:
#correcting negative values
inp1[column_days1]=abs(inp1[column_days1])
inp1[column_days1].describe()

In [ ]:
inp1.isnull().sum()

In [ ]:
inp1.info()

In [ ]:
# fill null values of remaining important columns
days_installments=["DAYS_FIRST_DRAWING","DAYS_FIRST_DUE","DAYS_LAST_DUE_1ST_VERSION","DAYS_LAST_DUE","DAYS_TERMINATION"]

inp1.fillna(inp1[days_installments].median(),inplace=True)        
inp1.isnull().sum()

In [ ]:
# fill null values of remaining important columns

inp1.NFLAG_INSURED_ON_APPROVAL.fillna(0,inplace=True)        
inp1.isnull().sum()

### Outlier Handling

In [ ]:
inp1.describe()

#### With the help of description we can identify columns that contain outliers as it will provide a difference between max and different percentile.

In [ ]:
#important columns with outliers(variables)
plt.figure(figsize=(11,3))
sns.boxplot(inp1.AMT_ANNUITY)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp1.AMT_APPLICATION)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp1.AMT_CREDIT)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp1.AMT_GOODS_PRICE)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp1.DAYS_DECISION)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp1.SELLERPLACE_AREA)
plt.show()

plt.figure(figsize=(11,3))
sns.boxplot(inp1.CNT_PAYMENT)
plt.show()

#### Insight:
From application data we can say that

- There are huge numbers of outliers available in AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_GOODS_PRICE,CNT_PAYMENT.
- DAYS_DECISION has few numbers of outliers.
- SELLERPLACE_AREA has also, outliers in high numbers.

In [ ]:
#create bins for AMT_APPLICATION

bins=[0,150000,300000,450000,600000,750000]
binned_category=["Very Low","Low","Medium","High","Very High"]
inp1["AMT_APPLICATION_RANGE"]=pd.cut(inp1["AMT_APPLICATION"],bins=bins,labels=binned_category)

In [ ]:
inp1.AMT_APPLICATION.head()

In [ ]:
#identify unique entries
inp1.nunique().sort_values(ascending=False)

In [ ]:
inp1.info()

In [ ]:
#Convert important columns to cateorial column
inp1.columns

In [ ]:
converted_columns1 = ["NAME_CASH_LOAN_PURPOSE","NAME_CONTRACT_STATUS","NAME_PAYMENT_TYPE","CODE_REJECT_REASON","NAME_TYPE_SUITE","NAME_CLIENT_TYPE","NAME_GOODS_CATEGORY","NAME_PORTFOLIO","NAME_PRODUCT_TYPE","CHANNEL_TYPE","NAME_SELLER_INDUSTRY","NAME_YIELD_GROUP","PRODUCT_COMBINATION"]                    
    
for column in converted_columns1:
    inp1[column] = pd.Categorical(inp1[column])

In [ ]:
inp1.info()

In [ ]:
inp1.shape

#### ANALYSIS

##### Checking imbalance percentage

In [ ]:
inp0["TARGET"].value_counts(normalize=True)*100

- There is data imbalance in TARGET
Repayer percentage is 91.93(Approx).
Defaulter percentage is 8.07(Approx).

In [ ]:
plt.pie(inp0["TARGET"].value_counts(normalize=True)*100,labels=["REPAYER (TARGET=0)","DEFAULTER (TARGET=1)"],explode=(0,0.05),autopct="%1.f%%")
plt.title("TARGET Variable - DEFAULTER Vs REPAYER")
plt.show()

#### Univariate analysis- categorical feautures

In [ ]:
# Divinding TARGET variable into two parts target_1 is REPAYER and target_2 is DEFAULTER

target_0 = inp0[inp0["TARGET"]==0]
target_1 = inp0[inp0["TARGET"]==1]

In [ ]:
target_0.head()

In [ ]:
target_1.head()

#### Univariate Analysis for REPAYER and DEFAULTER for numeric variables

In [ ]:
inp0.info()

#### Age

In [ ]:
#Creating plots for Age_range for REPAYER
plt.figure(figsize = (20,10))
plt.subplot(3, 3, 2)
plt.ylim(0,100000)
plt.title("Target=0 : Age-REPAYER")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_0["AGE_RANGE"])
plt.show()


#Creating plots for Age_range for DEFAULTER
plt.figure(figsize = (20,10))
plt.subplot(3, 3, 2)
plt.ylim(0,100000)
plt.title("Target=1 : Age-DEFAULDER")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_1["AGE_RANGE"])
plt.show()

######  Insights:
- Age range between 30 to 40 can be able to pay their loan on time also, by considering other factors age range 40-50 can be considered to provide a loan.
- Also, with the same Age range these applicants are riskiest people to lend a loan.With increasing age defaulters are decreases.

#### Employment years range

In [ ]:
#Creating plots for Employment_years_range for REPAYER
plt.figure(figsize = (20,10))
plt.subplot(3, 3, 2)
plt.ylim(0,100000)
plt.title("Target=0 : EMPLOYMENT_YEARS-REPAYER")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_0["EMPLOYMENT_YEARS_RANGE"])
plt.show()


#Creating plots for Employment_years_range for DEFAULTER
plt.figure(figsize = (20,10))
plt.subplot(3, 3, 2)
plt.ylim(0,100000)
plt.title("Target=1 : EMPLOYMENT_YEARS-DEFAULDER")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_1["EMPLOYMENT_YEARS_RANGE"])
plt.show()

##### Insights:
- Applicants between 0-5 years Employment years are highest repayers.
- It is similar in Defaultees also. approx 10% applicants are defaultees from 0-5 years employment range which is gradually decreasing with increasing years.

#### Amt credit range

In [ ]:
#Creating plots for Amt_credit_range for REPAYER
plt.figure(figsize = (40,18))
plt.subplot(3, 3, 2)
plt.ylim(0,100000)
plt.title("Target=0 : AMT_CREDIT_RANGE-REPAYER")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_0["AMT_CREDIT_RANGE"])
plt.show()


#Creating plots for Amt_credit_range for DEFAULTER
plt.figure(figsize = (40,18))
plt.subplot(3, 3, 2)
plt.ylim(0,100000)
plt.title("Target=1 : AMT_CREDIT-DEFAULDER")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_1["AMT_CREDIT_RANGE"])
plt.show()

##### Insights:
- From the observation Low is most repaid range of credit.
- Medium credit range is including highest defaulters.

#### Categorical Variables

#### Name contract type

In [ ]:
#Creating plots for REPAYER
plt.figure(figsize = (30,15))
plt.subplot(3, 3, 2)
plt.ylim(0,300000)
plt.title("Target=0 : NAME_CONTRACT_TYPE-REPAYER")
sns.countplot(target_0["NAME_CONTRACT_TYPE"])
plt.show()


#Creating plots for DEFAULTER
plt.figure(figsize = (30,15))
plt.subplot(3, 3, 2)
plt.ylim(0,300000)
plt.title("Target=1 : NAME_CONTRACT_TYPE-DEFAULDER")
sns.countplot(target_1["NAME_CONTRACT_TYPE"])
plt.show()

#### Insights:
- Revolving loans are very small part of total loans.
- Very few loan applicants are defaulter in revolving loans.

#### Code Gender

In [ ]:
#Creating plots for REPAYER
plt.figure(figsize = (40,15))
plt.subplot(3, 3, 2)
plt.ylim(0,300000)
plt.title("Target=0 : CODE_GENDER-REPAYER")
sns.countplot(target_0["CODE_GENDER"])
plt.show()


#Creating plots for DEFAULTER
plt.figure(figsize = (40,15))
plt.subplot(3, 3, 2)
plt.ylim(0,300000)
plt.title("Target=1 : CODE_GENDER-DEFAULDER")
sns.countplot(target_1["CODE_GENDER"])
plt.show()

###### Insights:
- Males clients have a highest chances to being a defaulter.
- Female clients are highest repayers of loans.

#### Flag own realty

In [ ]:
#Creating plots for REPAYER
plt.figure(figsize = (40,15))
plt.subplot(3, 3, 2)
plt.ylim(0,200000)
plt.title("Target=0 : FLAG_OWN_REALTY")
sns.countplot(target_0["FLAG_OWN_REALTY"])
plt.show()


#Creating plots for DEFAULTER
plt.figure(figsize = (40,15))
plt.subplot(3, 3, 2)
plt.ylim(0,50000)
plt.title("Target=1 : FLAG_OWN_REALTY")
sns.countplot(target_1["FLAG_OWN_REALTY"])
plt.show()

###### Insights:
- The number of clients are almost double who are into real estate.
- The defaulter's rate is also higher from the same group.

#### Name Income Type

In [ ]:
#Creating plots for REPAYER
plt.figure(figsize = (10,4))
plt.subplot(1, 2, 1)
plt.ylim(0,150000)
plt.title("Target=0 : NAME_INCOME_TYPE")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_0["NAME_INCOME_TYPE"])
plt.show()


#Creating plots for DEFAULTER
plt.figure(figsize = (10,4))
plt.subplot(1,2,2)
plt.ylim(0,15000)
plt.title("Target=1 : NAME_INCOME_TYPE")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_1["NAME_INCOME_TYPE"])
plt.show()

###### Insights:
- Students,Unemployed are not defaulter.It may be possible that students do not need to pay when they are students and unemploed 's loan can not be granted.
- Commercial associates are highest repayer and defaulder as well.

#### Name Family Status

In [ ]:
#Creating plots for REPAYER
plt.figure(figsize = (45,12))
plt.subplot(3, 3, 2)
plt.ylim(0,200000)
plt.title("Target=0 : NAME_FAMILY_STATUS")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_0["NAME_FAMILY_STATUS"])
plt.show()


#Creating plots for DEFAULTER
plt.figure(figsize = (45,12))
plt.subplot(3, 3, 2)
plt.ylim(0,15000)
plt.title("Target=1 : NAME_FAMILY_STATUS")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_1["NAME_FAMILY_STATUS"])
plt.show()

###### Insights:
- Married people are applying for loans as compare to others.
- There is more risk to lend them loan too as they are more likely to be defaulter.

#### Name Housing Type

In [ ]:
#Creating plots for REPAYER
plt.figure(figsize = (45,12))
plt.subplot(3, 3, 2)
plt.ylim(0,300000)
plt.title("Target=0 : NAME_HOUSING_TYPE")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_0["NAME_HOUSING_TYPE"])
plt.show()


#Creating plots for DEFAULTER
plt.figure(figsize = (45,12))
plt.subplot(3, 3, 2)
plt.ylim(0,20000)
plt.title("Target=1 : NAME_HOUSING_TYPE")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_1["NAME_HOUSING_TYPE"])
plt.show()

###### Insights:
- Most of the people applied for the loan are living in the House/appartment.
- Very less number of loan applicants are living in co-op -apartment or office appartment.
- Office apparment 's loan applicants have lowest default rate.

#### Occupation Type

In [ ]:
#Creating plots for REPAYER
plt.figure(figsize = (80,30))
plt.subplot(3, 3, 2)
plt.ylim(0,100000)
plt.title("Target=0 : OCCUPATION_TYPE")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_0["OCCUPATION_TYPE"])
plt.show()


#Creating plots for DEFAULTER
plt.figure(figsize = (80,30))
plt.subplot(3, 3, 2)
plt.ylim(0,10000)
plt.title("Target=1 : OCCUPATION_TYPE")
plt.xticks(rotation=45, ha='right')
sns.countplot(target_1["OCCUPATION_TYPE"])
plt.show()

###### Insights:
- Labourers and Sales staff are highest applicants of loan and defaultees too.
- IT staff, HR Staff are less in numbers of applicants of loan.

### Categorical Bivariate or Multivariate Analysis

In [ ]:
inp0.groupby("NAME_INCOME_TYPE")["AMT_INCOME_TOTAL"].describe()

In [ ]:
sns.barplot(x="NAME_INCOME_TYPE",y="AMT_INCOME_TOTAL",hue="TARGET",data=inp0) 
plt.xticks(rotation=45, ha='right')
plt.show()


###### Insights:
- Businessman 's income range is highest and that is why Repayer rate is higher in them.
- Commercial associate, state servant, working  's defaulter rate is higher in the given data.

#### checking correlation

In [ ]:
inp0.columns

In [ ]:
cols_correlation1 = ["NAME_CONTRACT_TYPE", "CODE_GENDER", "FLAG_OWN_CAR","FLAG_OWN_REALTY", 
                        "CNT_CHILDREN", "AMT_INCOME_TOTAL", "AMT_CREDIT", "AMT_ANNUITY", "AMT_GOODS_PRICE", 
                        "NAME_TYPE_SUITE", "NAME_INCOME_TYPE", "NAME_EDUCATION_TYPE", "NAME_FAMILY_STATUS",
                        "NAME_HOUSING_TYPE", "REGION_POPULATION_RELATIVE", "DAYS_BIRTH", "DAYS_EMPLOYED", 
                        "DAYS_REGISTRATION", "DAYS_ID_PUBLISH", "OCCUPATION_TYPE", "CNT_FAM_MEMBERS", "REGION_RATING_CLIENT",
                        "REGION_RATING_CLIENT_W_CITY", "WEEKDAY_APPR_PROCESS_START", "HOUR_APPR_PROCESS_START",
                        "REG_REGION_NOT_LIVE_REGION", "REG_REGION_NOT_WORK_REGION", "LIVE_REGION_NOT_WORK_REGION", 
                        "REG_CITY_NOT_LIVE_CITY", "REG_CITY_NOT_WORK_CITY", "LIVE_CITY_NOT_WORK_CITY", "ORGANIZATION_TYPE", "OBS_30_CNT_SOCIAL_CIRCLE", "DEF_30_CNT_SOCIAL_CIRCLE",
                        "OBS_60_CNT_SOCIAL_CIRCLE", "DEF_60_CNT_SOCIAL_CIRCLE", "DAYS_LAST_PHONE_CHANGE","AMT_REQ_CREDIT_BUREAU_HOUR", "AMT_REQ_CREDIT_BUREAU_DAY", "AMT_REQ_CREDIT_BUREAU_WEEK","AMT_REQ_CREDIT_BUREAU_MON",
                        "AMT_REQ_CREDIT_BUREAU_QRT", "AMT_REQ_CREDIT_BUREAU_YEAR"]

target_0_col=inp0.loc[inp0['TARGET']==0, cols_correlation1]
target_1_col=inp0.loc[inp0['TARGET']==1, cols_correlation1]

In [ ]:
len(cols_correlation1)

In [ ]:
target_0.head(10)

In [ ]:
#checking correlation amongst the variable for target_0
corr0=target_0_col.corr()
corr0=corr0.where(np.triu(np.ones(corr0.shape), k=1).astype(np.bool))
corr0

In [ ]:
#checking correlation of top 10
corr0_inp0 = corr0.unstack().reset_index()
corr0_inp0.columns=["VAR1","VAR2","Correlation"]
corr0_inp0.dropna(subset = ["Correlation"], inplace = True)
corr0_inp0["Correlation"] = round(corr0_inp0["Correlation"], 2)
corr0_inp0["Correlation"] = corr0_inp0["Correlation"].abs()
corr0_inp0.sort_values(by = "Correlation", ascending = False).head(10)

In [ ]:
# Plotting heatmao to visualise correlation among repyers
fig = plt.figure(figsize=(25,20))
ax = sns.heatmap(target_0_col.corr(), cmap="RdYlGn",annot=True,linewidth =1)

#### Insights:
- There is very high relationship between credit amount,goods price amount,amt annuity and total income.
- There is also high relationship between Days birth and days employed.
- CNT Children and family members also shares high relationship.

In [ ]:
#checking correlation amongst the variable for target_0
corr1=target_1_col.corr()
corr1=corr1.where(np.triu(np.ones(corr1.shape), k=1).astype(np.bool))
corr1

In [ ]:
#checking correlation of top 10
corr1_inp0 = corr1.unstack().reset_index()
corr1_inp0.columns=["VAR1","VAR2","Correlation"]
corr1_inp0.dropna(subset = ["Correlation"], inplace = True)
corr1_inp0["Correlation"] = round(corr1_inp0["Correlation"], 2)
corr1_inp0["Correlation"] = corr1_inp0["Correlation"].abs()
corr1_inp0.sort_values(by = "Correlation", ascending = False).head(10)

In [ ]:
# Plotting heatmao to visualise correlation among repyers
fig = plt.figure(figsize=(25,20))
ax = sns.heatmap(target_1_col.corr(), cmap="RdYlGn",annot=True,linewidth =1)

###### Insights:
- Amount credit is highly correlated with goods price,and amount annuity.
- Days of birth and days of employed are also correlated with each other.
- There are few changes in relationship among variables as compared to repayer.

In [ ]:
# Numerical Bivariate analysis
sns.lineplot("AMT_GOODS_PRICE","AMT_CREDIT",hue="TARGET",data=inp0)
plt.xticks(rotation=45, ha='right')
plt.ylim(0,)

###### Insights:
- As credit amount increases more than 25 lakhs defalter rate also increase.It shows that amount of loan affects the repayment of loan.

In [ ]:
#pair plot among variables for analysis
AMT_1 = inp0[[ "AMT_INCOME_TOTAL","AMT_CREDIT","AMT_ANNUITY", "AMT_GOODS_PRICE","TARGET"]]
AMT_1 = AMT_1[(AMT_1["AMT_GOODS_PRICE"].notnull()) & (AMT_1["AMT_ANNUITY"].notnull())]

ax= sns.pairplot(AMT_1,hue="TARGET")
ax.fig.legend(labels=["Defaulter","Repayer"])
plt.show()

###### Insights:
- Amount credit and goods price are highly correlated as scatter chart form a line.
- Very few defaulter are available when amount credit is more than 15 Lakhs.

### Analysis of merged data

In [ ]:
# Merge both the data 
inp = pd.merge(inp0, inp1, how="left", on="SK_ID_CURR")
inp.head()

In [ ]:
# Checking the size of merged data
inp.shape

In [ ]:
inp.info()

In [ ]:
#for identifying correlation and analysis -bisecting merged data-
#Repayers
inp_t0=inp[inp["TARGET"]==0]
#Defaulders
inp_t1=inp[inp["TARGET"]==1]

In [ ]:
#Plotting relationship between Contract status and Total income
sns.lineplot("NAME_CONTRACT_STATUS","AMT_INCOME_TOTAL",hue="TARGET",data=inp)
plt.xticks(rotation=45, ha="right")
plt.ylim(0,)

###### Insights:
- People who have unused loan offer are defaulted in high number within average income.

In [ ]:
#Plotting relationship between people defaulted in last 30days and Contract status

sns.lineplot("NAME_CONTRACT_STATUS","DEF_30_CNT_SOCIAL_CIRCLE",hue="TARGET",data=inp)
plt.xticks(rotation=45, ha="right")
plt.ylim(0,)

###### Insights:
- The number of defaultees in last 30 days in CNT SOCIAL CIRCLE are higher though previously bank has rejected their loan.

## Conclusions:


1.An applicant may be Repayer can be analysed with following insights.

- Age between 30-40 are highest repayer of loan.
- Employment years between 0-5 are highest repayer.
- Low credit range between 40,000 to 80,000 are highest repayer.
- Cash loans are very huge part of total loans.
- Female clients are highest repayer almost double than male clients.
- Labourers and Sales staff are highest applicants of loan and defaultees too.

2.Applicant may be Repayer can be analysed with following insights.

- With increasing age and employment years defaluter are decreases.
- Medium credit range is including highest defaulters 
- Very few clients are defalutees in revolving loans.
- Males cliens have highest chances to being a defaulter.

3.Bank can follow reject or can approve loan with higher intersts by considering following conclusion.

- Commercial associate, state servant, working 's defaulter rate is higher in the given data.
- Married people are applying for loans more as compare to others.
- Males clients have a highest chances to being a defaulter.
- People having more than 3 children are consisting high default rate.
- People who lived in a rented house are higher as compare to people lived in their own houses -so chances of defaultees are higher.